@font-face {
	font-family: 'Gotham Black';
	font-style: normal;
	font-weight: normal;
	src: url('../Gotham Black Regular.woff');
}
body {
	color: #3C3C3C;
	overflow-x: hidden;
}
a {
	font-family: 'Gotham Black', sans-serif;
}
/************** Navbar **************/
.navbar {
	background-color: #333;
}
.nav-link {
	color: #FFF !important;
}
.navbar-toggler-icon {
	color: #FFF;
}
/************** Inicio **************/
#inicio {
	padding-top: 0;
	background-color: #333 !important;
}
video {
	width: 100%;
}
/************** Acerca **************/
#perfil {
	width: 100% !important;
}
/************** Logros **************/
.card-body img {
	width: 100%;
}
/************** Equipo **************/
#fotos .carousel-inner .carousel-item .row .col-sm-4 img {
	width: 100%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	color: rgba(0, 0, 0, 0.5) !important;
}

/************* Contacto *************/
.fab {
	text-decoration: none;
	position: relative;
	color: white;
	width: 2em;
	height: 2em;
	border-radius: 100%;
	border: solid 2px white;
	line-height: 2em;
	text-align: center;
	white-space: nowrap;
}
a.fa-facebook::before {
	content: none;
}
a.fa-instagram {
	margin-right: 4em;
}
a.fa-facebook {
	margin-left: 4em;
}
#redes {
	text-align: center;
	padding-bottom: 5em;
}
textarea.form-control{
	height:100px;
}
/************* Secciones *************/
.gris {
	background-color: #333;
}
.row {
	background-color: white;
	padding: 2em 0 2em 0;
}
.section {
	width: 100%;
	padding-top: 10em;
}
.titulo {
	color: #FFF;
	text-align: center;
}